.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes load-animation {
  50% {
    font-size: 18px;
  }100%{
    font-size: 15px;
  }
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  font-size: 15px;
  animation: load-animation 1.5s normal infinite;
}

.movies {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 50px;
  padding-top: 70px;
  width: 85%;
}